@import "fonts";
@import "reset";

//	snippets -----------------------------------------------
// fsc - fullscreen;
// brg - burger;
// brg-2 - burger animated;
//---------------------------------------------------------

//functions and mixins ------------------------------------

@function HexToRGB($hex) {
   @return red($hex), green($hex), blue($hex);
 }
 
 @function cl($name, $opacity: false) {
   @if $opacity {
     @return rgba(var(--color-#{unquote($name)}--rgb), $opacity);
   } @else {
     @return var(--color-#{unquote($name)});
   }
 }

@function rem($pixels) {
   @return calc($pixels / 10) + rem;
 } 

@mixin tabletReset {
   @media (min-width: (1025px)){
      @content;
   }
}

@mixin tablet {
   @media (max-width: (1024px)) {
      @content;
   }
 }

 @mixin tabletOnly {
   @media (max-width: (1024px)) and (min-width: (531px)) {
      @content;
   }
 }

@mixin mobileReset {
   @media (min-width: (531px)){
      @content;
   }
}

 @mixin mobile {
   @media (max-width: (530px)) {
      @content;
   }
 }
 
//variables -----------------------------------------------

$colors : (
  "primary": #F3F2F0,
  "secondary": #010101,
  "brand": #D40000,
  "white": #FFFFFF
);

$theme-dark : (
  "primary"   : #232326,
  "secondary" : #F3F2F0,
);

:root {
  @if $colors {
    @each $key, $value in $colors {
      --color-#{$key} : #{$value};
      --color-#{$key}--rgb : #{HexToRGB($value)};
    }
  }
}
.theme-dark {
   @if $theme-dark {
      @each $key, $value in $theme-dark {
         --color-#{$key} : #{$value};
         --color-#{$key}--rgb : #{HexToRGB($value)};
       }
   }
   %decor {
      background-image: url("@img/background/decor-dark.svg");
   }
   %decor-circle {
      background-image: url("@img/background/decor-circle-dark.svg");
   }
}

//scss  ---------------------------------------------------

%title-l {
   font-size: rem(74);
   font-weight: 700;
   line-height: 1.215em;
   text-transform: uppercase;
   letter-spacing: 0.03em;

   @include tablet {
      font-size: rem(50);
   }
   @include mobile {
      font-size: rem(28);
   }
}

%title-m {
   font-size: rem(28);
   font-weight: 700;
   line-height: 1.5em;
   text-transform: uppercase;
   letter-spacing: 0.03em;

   span {
      display: block;
   }
   @include tablet {
      font-size: rem(22);
   }
   @include mobile {
      font-size: rem(16);
   }
}

%title-s {
   font-size: rem(28);
   line-height: 1.5em;
   opacity: .8;

   span {
      display: block;
   }
   @include tablet {
      font-size: rem(23);
   }
   @include mobile {
      font-size: rem(18);
   }
}

%text-bold {
   font-size: rem(16);
   font-weight: 700;
   line-height: 1.5em;
   text-transform: uppercase;
   letter-spacing: 0.03em;

   @include tablet {
      font-size: rem(14);
   }
   @include mobile {
      font-size: rem(12);
   }
}

%text {
   font-size: rem(16);
   line-height: 1.5em;
   opacity: .8;

   @include tablet {
      font-size: rem(14);
   }
   @include mobile {
      font-size: rem(12);
   }
}

%text-min {
   line-height: 1.5em;
   opacity: .8;

   @include tablet {
      font-size: rem(12);
   }
   @include mobile {
      font-size: rem(10);
   }
}

%decor {
   background: url("@img/background/decor.svg") no-repeat;
}

%decor-circle {
   background: url("@img/background/decor-circle.svg") no-repeat;
}

//keyframes -----------------------------------------------



//reset ---------------------------------------------------

img {
   width: 100%;
   max-width: 100%;
   height: auto;
}

input,
textarea {
   border-radius: 0;
}

html {
   --refRes: 1920;
   scroll-behavior: smooth;
   font-size: calc(100vw / var(--refRes) * 10);

   @include tablet {
      --refRes: 768;
   }
   @include mobile {
      --refRes: 360;
   }
}

body {
   font-family: 'Inter', sans-serif;
   font-size: rem(14);

   &.active {
      overflow: hidden;
   }
}

a {
   color: inherit;
}

button {
   font-size: inherit;
   color: inherit
}

//anchors -------------------------------------------------

#about, #portfolio, #steps, #price, #contacts {
   scroll-margin-top: var(--header-height);
}

//js common blocks ----------------------------------------



//flex wrapper---------------------------------------------

.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden; // не будет работать sticky
   color: cl(secondary);
   overflow-wrap: break-word;
   background-color: cl(primary);
   transition-duration: .3s;
   transition-property: color, background;
}

// common -------------------------------------------------

.container {
   min-width: 320px;
   max-width: rem(1160); //ширина контентной части
   padding: 0 rem(10); // плюсуешь 2x padding к контентной части
   margin: 0 auto;
}

//bem blocks ----------------------------------------------

.burger {
   position: relative;
   z-index: 3;
   width: rem(26);
   height: rem(20);
   background: transparent;

   @include tabletReset {
      display: none;
   }

   &::before,&::after {
      content: '';
   }
   &::before,&::after,span {
      position: absolute;
      right: 0;
      width: 100%;
      height: rem(2);
      background-color: cl(secondary);
      transition: 
      top .15s .15s ease-in,
      bottom .15s .15s ease-in,
      rotate .15s ease-in,
      opacity 0s .15s,
      background-color .15s;
   }
   &::before {
      top: 0;
   }
   span {
      top: calc(50% - rem(1));
   }
   &::after {
      bottom: 0;
   }
   &.active {
      &::before,&::after,span {
         transition: 
         top .15s ease-in,
         bottom .15s ease-in,
         rotate .15s .15s ease-in,
         opacity 0s .15s,
         background-color .15s;
      }
      &::before {
         top: calc(50% - rem(1));
         rotate: -45deg;
      }
      span {
         opacity: 0;
      }
      &::after {
         bottom: calc(50% - rem(1));
         rotate: 45deg;
      }
   }
}

.links {
   display: flex;

   &__item {
      &:not(:last-child) {
         border-right: rem(1) solid cl(secondary, .2);
         transition: border-color .3s;

         .theme-dark & {
            border-right-color: cl(secondary, .5);
         }
      }
   }

   &__link {
      display: block;
      padding: rem(5) rem(28);
      transition: color .3s;

      &:hover {
         color: cl(brand)
      }

      .links__item:first-child & {
         padding-left: 0;
      }
      .links__item:last-child & {
         padding-right: 0;
      }

      @include tablet {
         padding: rem(5) rem(19);
      }
      @include mobile {
         padding: rem(3) rem(10);
         font-size: rem(12);
      }

     
   }
}

.menu {

   @include tabletReset {
      flex-grow: 1;
   }

   &__list {
      display: flex;
   }

   &__item {}

   &__link {
      display: block;
      padding: rem(5) rem(15);
      transition: color .3s;
      
      @include mobile {
         padding: rem(5) rem(8);
         font-size: rem(10);
      }

      &:hover {
         color: cl(brand)
      }

      .menu__item:first-child & {
         padding-left: 0;
      }
   }
}

.discuss {
   @extend %text-bold;
   position: relative;
   display: flex;
   gap: rem(14);
   align-items: center;
   max-width: rem(170);
   text-transform: none;
   letter-spacing: normal;

   @include tabletReset {
      padding: 0 0 0.68em 0;

      &::after {
         position: absolute;
         right: 100%;
         bottom: 0;
         left: 0;
         height: rem(2);
         content: "";
         background-color: cl(secondary);
         transition: .3s;
      }
   
      &:hover {
         &::after {
            right: 0;
         }   
      }
   }
   @include mobile {
      gap: rem(10);
      max-width: rem(125);
   }

   svg {
      width: rem(16);
      height: auto;

      @include mobile {
         width: rem(10);
      }
      path {
         transition: fill .3s;
      }
   }
}

.form {
   display: flex;
   flex-direction: column;

   &__label {
      margin: 0 0 rem(10) 0;
      font-size: rem(12);
      line-height: 1.5em;
      opacity: .8;
   }

   &__input {
      padding: rem(24) rem(20);
      margin: 0 0 rem(20) 0;
      font-size: rem(12);
      line-height: 1.5em;
      color: cl(secondary);
      background-color: #e5e4e2;
      outline: none;
      transition-duration: .3s;
      transition-property: background, color;

      .theme-dark & {
         background-color: #38383a;
      }

      &::placeholder {
         font-size: rem(12);
         line-height: 1.5em;
         opacity: .3;
      }
   }

   &__dropdown {
      position: relative;
      margin: 0 0 rem(20) 0;

      svg {
         position: absolute;
         top: 50%;
         right: rem(25);
         width: rem(11);
         height: auto;
         transition: transform .3s;
         transform: translateY(-50%);

         path {
            transition: fill .3s;
         }
      }

      & .form__input {
         width: 100%;
         margin: 0;
         cursor: pointer;
      }

      &.active {
         svg {
            transform: translateY(-50%) rotateZ(180deg);
         }
      }
   }
   &__dropdown-options-wrapper {
      position: absolute;
      top: 90%;
      left: 0;
      width: 100%;
      z-index: 2;
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows .3s;

      .form__dropdown.active & {
         grid-template-rows: 1fr;
      }
   }
   &__dropdown-options {
      padding: 0 rem(20) 0;
      overflow: hidden;
      background-color: #e5e4e2;
      transition: background .3s;

      .theme-dark & {
         background-color: #38383a;
      }

      
   }

   &__dropdown-option {
      padding: rem(7) 0;
      font-size: rem(12);
      line-height: 1.5em;
      cursor: pointer;
      opacity: .4;
      transition: opacity .3s;

      &:last-child {
         padding-bottom: rem(17);
      }

      &:hover {
         opacity: 1;
      }
   }

   &__submit {
      padding: rem(20);
      font-size: rem(16);
      line-height: 1.5em;
      color: cl('white');
      background-color: cl(brand);
      transition: background .3s;

      &:hover {
         background-color: #EA0E00;
      }
   }
}

.popup-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 5;
   width: 100%;
   height: 100%;
   overflow: auto;
   visibility: hidden;
   background-color: cl(secondary, .2);
   opacity: 0;
   transition: .3s;

   &.active {
      visibility: visible;
      opacity: 1;
   }
}
.popup {
   position: absolute;
   top: 20%;
   left: 50%;
   width: rem(600);
   padding: rem(50) rem(20) rem(40);
   background-color: cl(primary);
   transform: translateX(-50%);

		&__close {
         position: absolute;
         top: rem(20);
         right: rem(20);
         width: rem(20);
         height: rem(20);
         background: transparent;

         svg {
            max-width: 100%;
            max-height: 100%;
            * {
               transition: fill .3s;
            }
         }
      }

		&__top {
         padding: 0 rem(80) rem(30);
         margin: 0 0 rem(40) 0;
         text-align: center;
         border-bottom: rem(1) solid cl(secondary);
         transition: border-color .3s;
      }

		&__title {
         font-size: rem(22);
         font-weight: 700;
         line-height: 1.5em;
         letter-spacing: 0.03em;
      }

		&__text {
         @extend %text;
      }
}

//header --------------------------------------------------

.header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   width: 100%;
   padding: rem(40) 0;
   background-color: cl(primary);
   transition: background-color .3s;

   @include tablet {
      padding: rem(20) 0;
   }

   &__body {
      display: flex;
      gap: rem(30);
      align-items: center;

      @include tablet {
         flex-direction: row-reverse;
         justify-content: space-between;
      }
   }

   &__menu-list {
      @include tablet {
         display: none;
      }
   }

   &__mobile-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      visibility: hidden;
      background-color: cl(secondary, .2);
      opacity: 0;
      transition-duration: .3s;
      transition-property: visibility, opacity, background;

      &.active {
         visibility: visible;
         opacity: 1;
      }
   }

   &__mobile {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: var(--header-height) rem(10) rem(40);
      background-color: cl(primary);
      transition: transform .3s;
      transform: translateY(-100%);
      
      .header__mobile-wrapper.active & {
         transform: none;
      }

      @include tabletReset {
         display: none;
      }
   }

   &__menu-mobile {
      margin: 0 0 rem(40) 0;
      overflow: auto;
   }

   &__menu-mobile-list {
      text-align: center;
   }

   &__menu-mobile-item {
      &:first-child {
         border-top: rem(1) solid cl(secondary);
      }
      border-bottom: rem(1) solid cl(secondary);
      transition: border-color .3s;
   }

   &__menu-mobile-link {
      display: block;
      padding: rem(20) 0;
      font-size: rem(26);
      line-height: 1.5em;
   }

   &__links-mobile {
      align-self: center;
      &:not(:last-child) {
         margin: 0 0 rem(20) 0;
      }
   }

   &__links {
      @include tablet {
         display: none;
      }
   }

   &__theme-switcher {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(50);
      height: rem(50);
      background-color: transparent;
      border: rem(3) solid cl('white');
      border-radius: 25%;
      transition: border-color 1s;

      @include tabletReset {
         position: absolute;
         top: rem(25);
         right: rem(25);
      }
      @include tablet {
         width: rem(35);
         height: rem(35);
         border-width: rem(2);
      }

      svg {
         width: 50%;
         max-width: 100%;
         height: auto;
         max-height: 100%;
         g, path {
            transition: 1s;
         }
         g {
            transform-origin: center;
         }
      }
      .sun {
         opacity: 0;
      }
      .theme-dark & {
         border-color: cl(brand);
         svg {
            g {
               transform: rotate(-360deg);
            }
         }
         .sun {
            opacity: 1;
         }
         .moon {
            opacity: 0;
         }
      }
   }
}

//flex main -----------------------------------------------

.content {
   flex-grow: 1;
}

.hero {
   @extend %decor;
   padding: 0 0 rem(90) 0;
   margin-top: var(--header-height);
   background-position: rem(235) rem(375);
   background-size: rem(281);

   @include tablet {
      padding: 0 0 rem(65) 0;
      background-image: url("@img/background/decor-2.svg");
      background-position: rem(130) rem(230);
      background-size: rem(208);

      .theme-dark & {
         background-image: url("@img/background/decor-2-dark.svg");
      }
   }
   @include mobile {
      padding: 0 0 rem(40) 0;
      background-position: rem(-42) rem(250);
      background-size: rem(135);
   }

   &__body {}

   &__image {
      margin: 0 0 rem(120) 0;

      @include tablet {
         margin: 0 0 rem(90) 0;
      }
      @include mobile {
         margin: 0 0 rem(60) 0;
      }
   }
   &__titles {
      margin: 0 0 rem(60) 0;
   }

   &__name {
      @extend %title-s;
      margin: 0 0 rem(30) 0;
      
      @include tablet {
         margin: 0 0 rem(20) 0;
      }
   }

   &__title {
      @extend %title-l;
   }

   &__contacts {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 rem(18) 0;

      @include mobile {
         margin: 0 0 rem(20) 0;
      }
   }
   &__links {
      @extend %decor-circle;
      padding: rem(41) 0;
      background-position: right rem(30) top 0;
      background-size: contain;

      @include tablet {
         padding: rem(30) 0;
         background-position: right rem(33) top 0;
      }
      @include mobile {
         padding: rem(20) 0;
         background-position: right rem(27) top 0;
      }
   }

   &__services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: rem(60);
      padding: rem(60) 0 0 0;
      border-top: rem(1) solid cl(secondary);
      transition: border-color .3s;

      @include tablet {
         grid-template-columns: repeat(2, 1fr);
         column-gap: rem(120);
      }
      @include mobile {
         gap: rem(30);
      }
   }

   &__services-item {}

   &__services-title {
      @extend %text-bold;
      margin: 0 0 rem(15) 0;
   }

   &__services-description {
      @extend %text-min;
   }
}

.about {
   padding: rem(90) 0; 
   
   @include tablet {
      padding: rem(65) 0;
   }
   @include mobile {
      padding: rem(40) 0 rem(30);
   }

   &__body {}

   &__top {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
      padding: 0 0 rem(60) 0;
      border-bottom: rem(1) solid cl(secondary);
      transition: border-color .3s;

      @include tablet {
         flex-direction: column;
         padding: 0 0 rem(40) 0;
      }
   }

   &__title {
      @extend %title-m;
   }

   &__text {
      @extend %title-s;

      @include tabletReset {
         flex: 0 0 rem(560);
      }
   }

   &__items {
      display: grid;
      grid-template-columns: rem(220) rem(270);
      gap: rem(60) rem(70);
      padding: rem(60) 0 0 0;

      @include tabletReset {
         max-width: rem(560);
         margin-left: auto;
      }
      @include tablet {
         grid-template-columns: repeat(2, 1fr);
         column-gap: rem(120);
      }
      @include mobile {
         gap: rem(30) rem(25);
      }
   }

   &__item {}

   &__item-title {
      @extend %text-bold;
      margin: 0 0 rem(20) 0;
      text-transform: none;
      letter-spacing: normal;
   }

   &__item-description {
      @extend %text-min;
   }
}

.steps {
   padding: rem(90) 0;

   @include tablet {
      padding: rem(65) 0;
   }
   @include mobile {
      padding: rem(30) 0 rem(40);
   }

   &__body {}

   &__list {
      list-style: none;
      counter-reset: steps;
   }

   &__item {
      display: flex;
      gap: rem(20);
      align-items: center;
      justify-content: space-between;
      padding: rem(30) 0;
      counter-increment: steps;
      transition: border-color .3s;

      @include mobile {
         padding: rem(15) 0;
      }

      &:nth-child(odd) {
         border: rem(1) solid cl(secondary);
         border-right: none;
         border-left: none;
      }
      &:last-child {
         border-bottom: rem(1) solid cl(secondary);
      }
   }

   &__item-title {
      @extend %title-s;
      flex-grow: 1;
      opacity: 1;

      @include tablet {
         width: 47%;
         font-size: rem(22);
      }
      @include mobile {
         font-size: rem(16);
      }

      &::before {
         margin: 0 rem(40) 0 0;
         content: "0" counter(steps);

         @include tablet {
            margin: 0 rem(10) 0 0;
         }
      }
   }

   &__item-description {
      @extend %text;
      
      @include tabletReset {
         flex: 0 0 rem(560);
      }

      @include tablet {
         width: 48%
      }
   }
}

.portfolio {
   padding: rem(90) 0;
   background-image: 
      url("@img/background/decor-circle.svg"),
      linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 70%);

   background-repeat: no-repeat;

   background-position: 
      center top, 
      0 rem(323);

   background-size: 
      rem(465),
      auto;

   @include tablet {
      padding: rem(65) 0;

      background-position: 
         center top, 
         0 rem(232.75);

      background-size: 
         rem(260),
         auto;

   }
   @include mobile {
      padding: rem(40) 0;

      background-position: 
         right rem(10) top, 
         0 rem(144);
          
      background-size: 
         rem(197),
         auto;
   }

   .theme-dark & {
      background-image:
         url("@img/background/decor-circle-dark.svg"),
         linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 70%);
   }

   &__body {}

   &__title {
      @extend %title-l;
      margin: 0 0 rem(144) 0;

      @include tablet {
         margin: 0 0 rem(107);
      }
      @include mobile {
         margin: 0 0 rem(70) 0;
      }
   }

   &__list {}

   &__item {
      display: flex;
      gap: rem(30);
      justify-content: space-between;
      padding: rem(60) 0;
      border-bottom: rem(1) solid cl(secondary);
      transition: border-bottom .3s;
      
      @include tabletReset {
         align-items: center;
      }
      @include tablet {
         flex-direction: column;
         padding: rem(50) 0;
      }
      @include tablet {
         padding: rem(40) 0;
      }
   }

   &__item-info {}

   &__info-title {
      @extend %title-m;
      margin: 0 0 rem(40) 0;
      text-transform: none;
      letter-spacing: normal;

      @include tablet {
         margin: 0 0 rem(30) 0;
      }
      @include mobile {
         margin: 0 0 rem(20) 0;
      }
   }

   &__info-list {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin: 0 0 rem(40) 0;

      @include tablet {
         margin: 0 0 rem(30) 0;
      }
      @include mobile {
         margin: 0 0 rem(20) 0;
      }
   }

   &__info-description {
      @extend %text;
   }

   &__info-time-spent {
      @extend %text;
      font-weight: 700;
   }

   &__item-image {
      @include tabletReset {
         flex: 0 0 rem(560);
      }
   }
}

.addition {
   padding: rem(90) 0;

   @include tablet {
      padding: rem(65) 0;
   }
   @include mobile {
      padding: rem(40) 0 rem(30);
   }

   &__body {}

   &__text {
      @extend %title-s;
      max-width: rem(870);
      padding: 0 0 rem(80) 0;
      margin: 0 0 rem(80) 0;
      border-bottom: rem(1) solid cl(secondary);
      opacity: 1;
      transition: border-color .3s;

      @include tablet {
         padding: 0 0 rem(60) 0;
         margin: 0 0 rem(60) 0;
      }
      @include mobile {
         padding: 0 0 rem(40) 0;
         margin: 0 0 rem(40) 0;
         font-size: rem(16);
      }
   }

   &__features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(80) rem(70);

      @include tablet {
         grid-template-columns: repeat(2, 1fr);
         gap: rem(55);
      }
      @include mobile {
         grid-template-columns: 1fr;
         gap: rem(30);
      }
   }

   &__features-item {
      display: flex;
      gap: rem(40);
      align-items: center;
   }

   &__features-image {
      flex-shrink: 0;
      width: rem(40);
      height: rem(40);

      @include mobile {
         width: rem(30);
         height: rem(30);
      }

      svg {
         max-width: 100%;
         max-height: 100%;
         * {
            transition: fill .3s;
         }
      }
   }

   &__features-text {}

   &__features-title {
      margin: 0 0 rem(10) 0;
      font-size: rem(16);
      font-weight: 600;
      line-height: 1.18em;

      @include tablet {
         font-size: rem(14);
      }
      @include mobile {
         margin: 0 0 rem(15) 0;
         font-size: rem(12);
      }
   }

   &__features-description {
      @extend %text-min;
   }
}

.skills {
   padding: rem(90) 0 rem(130);

   @include tablet {
      padding: rem(65) 0;
   }
   @include mobile {
      padding: rem(30) 0 rem(23);
   }

   &__body {}

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: rem(148);
      border: rem(1) solid cl(secondary);
      border-right: none;
      border-bottom: none;
      transition: border-color .3s;

      @include mobile {
         grid-auto-rows: rem(44);
      }
   }

   &__item {
      position: relative;
      border: rem(1) solid cl(secondary);
      border-top: none;
      border-left: none;
      transition: border-color .3s;

      &::after {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         content: "";
         filter: grayscale(1);
         background-repeat: no-repeat;
         background-position: center;
         background-size: 50% 50%;
         opacity: .3;
         transition-duration: .3s;
         transition-property: filter, opacity;
      }
      
      &:hover {
         &::after {
            filter: none;
            opacity: 1;
         }
      }

      &--html::after {
         background-image: url("@img/icons/html5.svg");
      }

      &--css::after {
         background-image: url("@img/icons/css3.svg");
      }

      &--js::after {
         background-image: url("@img/icons/javascript.svg");
      }

      &--jquery::after {
         .theme-dark & {
            filter: invert(180)
         }
         background-image: url("@img/icons/jquery.svg");
      }

      &--bootstrap::after {
         background-image: url("@img/icons/bootstrap.svg");
      }

      &--php::after {
         background-image: url("@img/icons/php.svg");
      }

      &--vue::after {
         background-image: url("@img/icons/vue-js.svg");
      }

      &--wordpress::after {
         background-image: url("@img/icons/wordpress.svg");
      }

   }

   &__tooltip {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 2;
      width: 85%;
      padding: rem(20) rem(20) rem(27);
      font-size: rem(10);
      font-weight: 500;
      line-height: 1.5em;
      color: cl('white', 0.8);
      text-align: center;
      visibility: hidden;
      background-color: #E31B1B;
      opacity: 0;
      transition-duration: .3s;
      transition-property: opacity, visibility, top;
      transform: translateX(-50%);

      @include mobile {
         display: none;
      }

      &::before {
         position: absolute;
         top: rem(-14);
         left: 50%;
         content: "";
         border: rem(8) solid transparent;
         border-bottom-color: #E31B1B;
         transform: translateX(-50%);
      }
      .skills__item:hover & {
         top: calc(100% - rem(20));
         visibility: visible;
         opacity: 1;
      }
   }

   &__tooltip-title {
      margin: 0 0 rem(8) 0;
   }

   &__tooltip-description {}
}

.price {
   @extend %decor-circle;
   padding: rem(50) 0 rem(137);
   background-position: rem(320) 0;
   background-size: rem(140);

   @include tablet {
      padding: rem(57) 0 rem(82);
      background-position: rem(-76) 0;
   }
   @include mobile {      
      padding: rem(57) 0 rem(23);
      background-position: rem(-76) 0;
      background-size: rem(138);
   }

   &__body {}

   &__top {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
      padding: 0 0 rem(80) 0;
      
      @include tablet {
         flex-direction: column;
         padding: 0 0 rem(55) 0;
      }
      @include mobile {
         padding: 0 0 rem(30) 0;
      }
   }

   &__title {
      @extend %title-m;
   }

   &__text {
      @extend %title-s;

      @include tabletReset {
         flex: 0 0 rem(560);
      }
   }

   &__list {}

   &__item {
      display: flex;
      gap: rem(70);
      justify-content: space-between;
      padding: rem(60) 0 rem(46);
      border-top: rem(1) solid cl(secondary);
      transition: border-color .3s;
      @include tablet {
         gap: rem(50);
         &:last-child {
            border-bottom: rem(1) solid cl(secondary);
         }
      }
      @include mobile {
         gap: rem(20);
      }
   }

   &__item-titles {
      @include tabletReset {
         flex-basis: rem(400);
      }
      @include tablet {
         display: flex;
         flex-direction: column;
         width: 45%;
      }
   }

   &__titles-title {
      @extend %title-s;
      margin: 0 0 rem(20) 0;
      opacity: 1;

      @include mobile {
         font-size: rem(16);
      }
   }

   &__titles-description {
      @extend %text;
      margin: 0 0 rem(75) 0;
      
      @include tablet {
         flex-grow: 1;
         margin: 0;
      }
   }

   &__item-info {
      @include tabletReset {
         flex-basis: rem(560);
      }
      @include tablet {
         width: 55%;
      }
   }

   &__info-title {
      @extend %text-bold;
      margin: 0 0 rem(20) 0;
      text-transform: none;
      letter-spacing: normal;
   }

   &__info-list {
      margin: 0 0 rem(40) 0;
   }

   &__info-list-item {
      @extend %text;
      margin: 0 0 rem(10) 0;
      list-style: disc inside;
   }

   &__info-price {
      font-size: rem(42);
      font-weight: 700;
      span {
         line-height: 1.5em;
      }

      .price__item:nth-child(odd) &{
         position: relative;
         span {
            position: relative;
            z-index: 1;
         }
         &::after {
            @extend %decor-circle;
            position: absolute;
            top: rem(-12);
            left: rem(-45);
            width: rem(90);
            aspect-ratio: 1;
            content: "";
            background-position: left rem(0) center;
            background-size: contain;

            @include tablet {
               top: rem(-8);
               left: rem(-33);
               width: rem(65);
            }
            @include mobile {
               top: rem(-4);
               left: rem(-20);
               width: rem(40);
            }
         }
      }
      
      @include tablet {
         font-size: rem(32);
      }
      @include mobile {

         font-size: rem(22);
      }
   }
}

.contact {
   @extend %decor;
   padding: rem(30) 0 rem(70);
   background-position: rem(210) 0;
   background-size: rem(328);
   
   @include tablet {
      padding: rem(53) 0 rem(30);
      background-image: url("@img/background/decor-3.svg");
      background-position: rem(-70) 0;
      .theme-dark & {
         background-image: url("@img/background/decor-3-dark.svg");
      }
   }
   @include mobile {
      background-position: rem(-43) 0;
      background-size: rem(190);
   }

   &__body {}

   &__top {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
      padding: 0 0 rem(60) 0;
      border-bottom: rem(1) solid cl(secondary);
      transition: border-color .3s;
       
      @include tablet {
         flex-direction: column;
      }
      @include tablet {
         padding: 0 0 rem(45);
      }
      @include mobile {
         padding: 0 0 rem(30);
      }
   }

   &__title {
      @extend %title-m;
   }

   &__text {
      @extend %title-s;
      
      @include tabletReset {
         flex: 0 0 rem(560);
         padding: 0 rem(60) 0 0;
      }
   }

   &__content {
      display: flex;
      gap: rem(60);
      align-items: flex-end;
      justify-content: space-between;
      padding: rem(60) 0;
      
      @include tablet {
         flex-direction: column-reverse;
         align-items: center;
         padding: rem(40) 0 rem(30);
      }
   }

   &__form {
      @include tabletReset {
         flex: 0 0 rem(560);
      }
      @include tablet {
         align-self: stretch;
      }
   }

}

//footer --------------------------------------------------

.footer {
   padding: 0 0 rem(42);

   @include mobile {
      padding: 0 0 rem(27);
   }

   &__body {
      padding-top: rem(60);
      border-top: rem(1) solid cl(secondary);
      transition: border-color .3s;

      @include tablet {
         padding-top: rem(50)
      }
      @include mobile {
         padding-top: rem(40)
      }
   }

   &__info {
      display: flex;
      gap: rem(30);
      align-items: center;
      margin: 0 0 rem(40) 0;
      @include tablet {
         flex-direction: column-reverse;
         margin: 0 0 rem(30) 0;
      }
   }

   

   &__legal {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: rem(12);
      line-height: 1.5em;
      
      @include tablet {
         flex-direction: column;
         gap: rem(15);
      }
   }

   &__legal-item {
      color: cl(secondary, .3);
      transition: color .3s;

      .theme-dark & {
         color: cl(secondary, .5);
      }

      a {
         text-decoration: underline;
         transition: color .3s;

         &:hover {
            color: cl(secondary);
         }
      }
   }
}

//js swap blocks ------------------------------------------